<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.index.modules.other.mapper.BlogCategoryMapper">

	<resultMap id="menuNodeMap" type="com.blog.index.modules.other.vo.BlogMenuNode">
		<id column="id" property="id" />
		<result column="category_name" property="categoryName" />
		<result column="link_url" property="linkUrl" />
		<result column="f_id" property="fId" />
		<result column="dict_level" property="dictLevel" />
		<result column="create_time" property="createTime" />
		<result column="status" property="status" />
		<collection property="subNodeList" column="id" select="getBlogCategoryByFid"></collection>
	</resultMap>

    <select id="getBlogMenuNode" resultMap="menuNodeMap">
		SELECT * FROM `blog_category` WHERE status = 1 AND f_id = 0
	</select>

	<select id="getBlogCategoryByFid" resultType="com.blog.pojo.entity.BlogCategory">
		SELECT * FROM `blog_category` WHERE status = 1 AND f_id = #{fId}
	</select>

</mapper>