package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * @author ${author}
 * @date ${date}
 * @description ${table.comment} 服务接口
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
	
}